<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Name Service</title>
</head>
<body>

    <form th:action="@{/get_name}" method="post" th:object="${getNameForm}">
        <input type="text" id="name" name="name" placeholder="Your name" th:field="*{name}">
        <input type="submit" value="ok">
    </form>

    <p th:text="${name}"></p>
<!--    <p th:text="${surname}"></p>-->
    <p>
        <span>Ilość liter w imieniu: </span>
        <span th:text="${nameSize}"></span>
    </p>

    <div th:text="${isEvenLettersInName}"></div>

    <div>
        <a href="#" th:href="@{/example_link}">Example Link</a>
    </div>

</body>
</html>