<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Name Service</title>
</head>
<body>

    <div th:if="${isLogin == false}">
        <form th:action="@{/login}" method="post" th:object="${loginForm}">
            <input type="text" id="name" name="name" placeholder="Your name" th:field="*{name}">
            <input type="password" id="password" name="password" placeholder="Password" th:field="*{password}">
            <input type="submit" value="ok">
        </form>

        <a href="#" th:href="@{/register}">Rejestracja</a>

        <p th:if="${isRegister} != null">
            <span th:text="${isRegister}"></span>
        </p>
    </div>

    <div th:if="${loginMessage != null}">
        <p th:text="${loginMessage}"></p>
    </div>


    <div th:if="${isLogin}">
        <p>
            <span>Jesteś zalogowany: </span>
            <span th:text="${userName}"></span>
        </p>

        <p>
            <span>Wyloguj się: </span>
            <span>
                <a href="#" th:href="@{/logout}">wyloguj</a>
            </span>
        </p>

        <p th:if="${nameSize} != null">
            <span>Ilość liter w imieniu: </span>
            <span th:text="${nameSize}"></span>
        </p>

        <div th:if="${isEvenLettersInName} != null">
            <span>Czy liczba liter w imieniu jest parzysta?: </span>
            <span th:text="${isEvenLettersInName}"></span>
        </div>

    </div>

    <div th:if="${isLogout}">
        <span>Jesteś wylogowany!</span>
    </div>

    <style>
<!--        tu piszesz style dla widoku-->
        .record {
            border: 1px solid black;
            font-size: 40px;
            background-color: lightblue;
        }

        .record > span {
            border: 1px solid black;
            font-size: 40px;
            background-color: lightblue;
        }

    </style>

    <div th:each="user : ${users}">
        <p class="record">
            <span th:text="${user.getId()}"></span>

            <span th:text="${user.getLogin()}"></span>

            <span th:text="${user.getPassword()}"></span>

            <span>
                <a th:href="@{/delete/{id} (id=${user.getId()})}">Delete</a>
            </span>
        </p>
    </div>

</body>
</html>