<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Name App</title>
</head>
<body>

    <a href="#" th:href="@{/}">Home</a>

    <form th:action="@{/name/process}" method="post">
        <label for="name_app_name">Name</label>
        <input type="text" placeholder="name" name="name" id="name_app_name">
        <label for="nationality_id">Name</label>
        <input type="text" placeholder="nationality" name="nationality" id="nationality_id">
        <input type="submit" value="Submit">
    </form>

    <div th:if="${nameLength != null}">
        <p>Twoje imię: <span th:text="${name}">Leszek</span></p>
        <p>Kraj: <span th:text="${nationality}">Polska</span></p>
    </div>

    <div th:if="${nameLength != null}">
        <p th:text="${nameLength}"></p>
    </div>

</body>
</html>